[user]
	email = 
	name = 

[core]
	editor = nvim
	pager = bat
	ignorecase = false
	excludesfile = ~/.gitignore

[difftool]
	prompt = false

[diff]
	tool = nvimdiff

[mergetool]
	prompt = false
	layout = "(LOCAL,BASE,REMOTE)/MERGED"

[merge]
	tool = nvimdiff

[color]
	pager = yes
