buildserver.json
.bundle
*.bundle
.bundle.xcresult
info.plist
SourcePackages
Index.noindex
ModuleCache.noindex
SDKStatCaches.noindex
TestResults
Logs
.nvim
.vscode
smart-resolve-pr-comments.md
smart-pr-from-ticket.md
