[user]
	email = 
	name = 

[core]
	editor = nvim
	ignorecase = false

[difftool]
	prompt = false

[diff]
	tool = nvimdiff

[mergetool]
	prompt = false
	layout = "(LOCAL,BASE,REMOTE)/MERGED"

[merge]
	tool = nvimdiff
